{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1>Багровый Фантомас - величайшая рок-группа всех времён и достоинств, ю ноу!</h1>
    <br>
    <p class="lead"><img src="{{ url_for('static', filename='img/img_.jpg') }}" width="80%"></p>
    <p class="lead"><img src="{{ url_for('static', filename='img/img.jpg') }}" width="80%"></p>
    <p class="lead">С ТРЕСКОМ РАЗРЫВАЕМ ГНИЛОЙ МЕШОК ТИШИНЫ И ВЫТРЯХИВАЕМ ИЗ НЕГО НОВОСТЬ, КОТОРАЯ ЗАСТАВИТ ВАШИ ГЛАЗЁНКИ УСОМНИТЬСЯ В РЕАЛЬНОСТИ ПРОИСХОДЯЩЕГО🤟🏻</p>
    <p class="lead">В честь 36-летия величайшего альбома «Электрические жирафы» группа «Багровый Фантомас» отправляется в грандиозное турне из двух городов:<br>
    12 ДЕКАБРЯ - САНКТ-ПЕТЕРБУРГ, клуб “Время N”<br>
    13 ДЕКАБРЯ - МОСКВА, клуб «Агломерат»<br>
    <strong>Специальный гость: группа «Велюр».</strong></p>
    <p class="lead"><a href="https://vk.com/bagrovy__fantomas?w=wall-208343121_733" class="btn btn-lg btn-light fw-bold border-white bg-white">Подробнее...</a></p>
    <p class="lead"><img src="{{ url_for('static', filename='img/afisha.jpg') }}" width="100%"></p>
    <p class="lead">
      <a href="guestbook" class="btn btn-lg btn-light fw-bold border-white bg-white">Оставить отзыв, ю ноу, блин</a>
    </p>
{% endblock %}